*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    
}

body{
    font-family: Oswald, sans-serif;
    color: #23395d;
    
    
}

.main{
    display: flex;
    margin: 2em;
    background: rgb(255, 251, 251);
    border-radius: 10px;
    width: fit-content;
    height: 100%;
    
}

.image-column{
    padding: 20px;
    width: 30%;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #23395d;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.image{
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}




.fa{
    font-family: Oswald, sans-serif;
    font-size: 14px;
    color: #99dbf3;
    margin-right: 1em;
    
}

.icon{
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    align-items: center;
}

.icon a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}


.content{
    margin-left: 3em;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.title{
width: 100%;
color: #fff;
margin-bottom: 20px;
padding-bottom: 10px;
text-align: center;
border-bottom: 5px solid #99dbf3;




}

.title h1{
    padding: 10px 0;
    font-size: 25px;
   
}

.details{
    width: 80%;
    margin: 20px;
    
}

.details h2{
    text-transform: uppercase;
}

.details p{
    font-size: 18px;
    margin: 0 20px;
}

.details ul{
    margin: 0 2em;
}

.details li{
    font-size: 20px;
    margin: 10px 0px;
}


.skills li{
    margin: 20px 0;
    list-style: none;
    padding: 0 20px;

}

.experience li {
    margin:  10px 0 0 0;    
    padding: 0 10px;
    font-size: 22px;
}

.experience p {
    margin-left: 2.4em;
  
}

.experience .work {
    margin-bottom:  20px;    
   
}


.skills .bar{
    background: #333;
    display: block;
    height: 5px;   
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    box-shadow: 0 0 10px ;
}

 .bar span {
    height: 2px;
    float: left;
    
    background: #99dbf3;
   
}

.html{
    width: 90%;

}

.css{
    width: 80%;
}

.javascript{
    width: 70%;
}

.react{
    width: 70%;
}

.nodejs{
    width:50%
}

.experience > div{
 margin-bottom: 10px;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23395d;
    padding: 20px;
}


footer a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
   
 
}
footer .logo{

cursor: pointer;
width: 122px;
}

footer .hng{
    width: 122px;

   
}

footer .website{
    background: #fff;
    padding: 5px;
    margin: 10px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}



@media screen and (max-width:768px) {
   


    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(255, 251, 251);
        border-radius: 10px;
        width: fit-content;
      
    
    }

    .image-column{
       width: 90%;
       border-radius: 10px;
       box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
       justify-content: space-around; 
    }
      
    .content{
        margin: 10px;
    }

    .title{
        margin-bottom: 20px;
        width: 80%;
        margin-left: 20px;
        }

    .title h1{
        
        font-size: 30px
    }

    .contact{
       
        
        float: left;
        
    }

    .details ul {
        margin: 0 2em;
    }
    
    .details li{
        padding: 10px 0;
    }

    footer{
        width: 100%;
        padding: 0;
    }

    footer .logo{

        cursor: pointer;
        width: 50px;
        }
        
        footer .hng{
            width: 50px;
        
           
        }

    
    
}

